<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- <link rel="icon" type="image/png" href="../images/favicon.ico" /> -->
    <link rel="stylesheet" href="../styles/main.scss" />
    <title>Title</title>
  </head>

  <body>
    <!-- buttons -->
    <div class="flex-wrap">
      <button class="btn btn__basic">basic</button>
      <button class="btn btn__basic btn__basic--rotate">rotate</button>
      <button class="btn btn__basic btn__basic--skew">skew</button>
      <button class="btn btn__basic btn__basic--fall">
        fall
      </button>
      <button class="btn btn__fancy btn__fancy--spin-in">
        spin-in
      </button>
      <button class="btn btn__fancy btn__fancy--wiper">
        Wiper
      </button>
      <button class="btn btn__fancy btn__fancy--swiper">
        Swiper
      </button>
      <button class="btn btn__fancy btn__fancy--toaster">
        toaster
      </button>
      <button class="btn btn__fancy btn__fancy--plus">
        plus
      </button>
      <button class="btn btn__fancy btn__fancy--diagonal">
        diagonal
      </button>
      <button class="btn btn__fancy btn__fancy--warp">
        warp
      </button>
    </div>

    <!-- images -->
    <div class="flex-wrap">
      <div class="image__action">
        <img
          src="../images/Octocat.png"
          alt="octocat"
          class="image__action__image"
        />
        <div class="image__action__caption">
          <h1 class="image__action__heading">I'm plain!!</h1>
          <p class="image__action__content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto,
            aut! Accusamus alias explicabo atque modi necessitatibus qui,
            pariatur animi dolorum harum, rerum cumque at adipisci fugit eaque
            doloremque odio nam!
          </p>
        </div>
      </div>
      <div class="image__action image__action--back-up">
        <img
          src="../images/Octocat.png"
          alt="octocat"
          class="image__action__image image__action--back-up__image"
        />
        <div class="image__action__caption image__action--back-up__caption">
          <h1 class="image__action__heading image__action--back-up__heading">
            Back Dat Cat Up
          </h1>
          <p class="image__action__content image__action--back-up__content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto,
            aut! Accusamus alias explicabo atque modi necessitatibus qui,
            pariatur animi dolorum harum, rerum cumque at adipisci fugit eaque
            doloremque odio nam!
          </p>
        </div>
      </div>
      <div class="image__action image__action--swipe">
        <img
          src="../images/Octocat.png"
          alt="octocat"
          class="image__action__image image__action--swipe__image"
        />
        <div class="image__action__caption image__action--swipe__caption">
          <h1 class="image__action__heading image__action--swipe__heading">
            Swipe
          </h1>
          <p class="image__action__content image__action--swipe__content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto,
            aut! Accusamus alias explicabo atque modi necessitatibus qui,
            pariatur animi dolorum harum, rerum cumque at adipisci fugit eaque
            doloremque odio nam!
          </p>
        </div>
      </div>
      <div class="image__action image__action--push">
        <img
          src="../images/Octocat.png"
          alt="octocat"
          class="image__action__image image__action--push__image"
        />
        <div class="image__action__caption image__action--push__caption">
          <h1 class="image__action__heading image__action--push__heading">
            Push
          </h1>
          <p class="image__action__content image__action--push__content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto,
            aut! Accusamus alias explicabo atque modi necessitatibus qui,
            pariatur animi dolorum harum, rerum cumque at adipisci fugit eaque
            doloremque odio nam!
          </p>
        </div>
      </div>
      <div class="image__action image__action--rise-up">
        <img
          src="../images/Octocat.png"
          alt="octocat"
          class="image__action__image image__action--rise-up__image"
        />
        <div class="image__action__caption image__action--rise-up__caption">
          <h1 class="image__action__heading image__action--rise-up__heading">
            Rise Up
          </h1>
          <p class="image__action__content image__action--rise-up__content">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto,
            aut! Accusamus alias explicabo atque modi necessitatibus qui,
            pariatur animi dolorum harum, rerum cumque at adipisci fugit eaque
            doloremque odio nam!
          </p>
        </div>
      </div>
    </div>
    <div class="full-width">
      <ul>
        <li>s</li>
        <li>m</li>
        <li>o</li>
        <li>k</li>
        <li>y</li>
      </ul>
    </div>
    <!-- <script src="../javascripts/app.js"></script> -->
  </body>
</html>
